<!DOCTYPE html>
<html>

<body>

    <h1> Example Paylable dapp etheruem  </h1>

    <h2> collect money from the contract:</h2><br>
    <input type="text" name="collectmoney" id="collectmoneycontract"><br>
    <input type="submit" value="collect" id="collect"> <br>
    <label id="verifimoney"> Tx Collect Money </label>
    <br>

    <h2> verify money in the contract:</h2><br>
    <input type="submit" value="verify" id="verify"> <br>
    <label id="verifimoney"> Balance Contract </label>
    <br>


    <h3> transfer money to the contract </h3>
    <input type="text" name="pagar contrato" id="transferiracontrato"><br>
    <input type="submit" value="transferir" id="transfermony"> <br>
    <label id="verifimoney"> Tx transfer money </label>
    <br>


    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/plugin.js"></script>
    <!-- Main Javascript File  -->
    <script type="text/javascript" src="js/scripts.js"></script>
  
  
    <!-- Consultas a la blockchain  -->  
    <script>
      var tiempotransaccion=null;
      var estadox=null;  
          $("#collect").click(function() {
                       console.log("prueba de envio de datos!")
          });

        </script>
  

</body>

</html>



